{
    "extends": [
        "@ijsto",
        "prettier"
    ],
    "plugins": [
        "prettier"
    ],
    "rules": {
        "semi": [
            2,
            "always"
        ],
        "prettier/prettier": [
            "error",
            {
                "endOfLine": "auto"
            }
        ]
    }
}