@import '@fontsource/roboto/300.css';
@import '@fontsource/roboto/400.css';
@import '@fontsource/roboto/500.css';
@import '@fontsource/roboto/700.css';

.logo {
    user-select: none;
    pointer-events: none;
    filter: invert(100%);
    -webkit-filter: invert(100%);
}
