html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.logo {
  user-select: none;
  pointer-events: none;
}

@media (prefers-color-scheme: dark) {
  .logo {
    filter: invert(100%);
    -webkit-filter: invert(100%);
  }
}